{
  "orgname1" : {
    "salesforceURL": "my-domain.cs33.my.salesforce.com",
    "username" : "",
    "password" : "",
    "securityToken" : "",
    "consumerKey" : "",
    "consumerSecret" : ""
  },
  "orgname2" : {
    "salesforceURL": "my-domain.cs33.my.salesforce.com",
    "username": "",
    "password": "",
    "securityToken": "",
    "consumerKey" : "",
    "consumerSecret" : ""
  }
}
